@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary-color);
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: var(--secondary-color);
}

:root {
  --primary-color: #050519;
  --secondary-color: #ffffff;
  --tertiary-color: #282c34;
  --text-color: #d9d9d9;
  --button-color: #333b4a;
  --url-color: white;
}
.container {
  background-color: var(--primary-color);
}
.light-theme {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: #f2f2f7;
  --text-color: #2c2c2e;
  --button-color: #f2f2f7;
  --url-color: #6572f9;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: var(--primary-color);
}
.header__nav-item--btn {
  display: flex;
  align-self: center;
}
.header__logo:hover {
  cursor: pointer;
}
.hero__profile-description u {
  color: var(--url-color);
}
.header__nav-item:hover {
  cursor: pointer;
}
.hero__footer i:hover {
  cursor: pointer;
}
#download-btn:hover {
  cursor: pointer;
}
button:hover {
  cursor: pointer;
}
.header__logo {
  display: flex;
  gap: 12px;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1px;
  text-align: center;
}
.header__nav-item {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 36px;
}

.header__logo p {
  display: none;
}
.header__nav-item--hidden {
  display: none;
}
.hero__profile-header--primary {
  font-size: 1.6rem;
  line-height: 23.47px;
  letter-spacing: 0.005em;
  font-weight: 500;
  margin-bottom: 24px;
}
.hero__profile-header--secondary {
  font-size: 24px;
  font-weight: 800;
  line-height: 34.24px;
  letter-spacing: 0.04em;
  text-align: center;
}
.header__nav-list {
  display: flex;
  gap: 56px;
  list-style-type: none;
  justify-content: space-between;
}
.header__menu {
  width: 78px;
  text-align: center;
  padding: 0.28em 1.14em;
  border-radius: 37.18% / 103.57%;
  font-size: 1.4rem;
  background-color: var(--tertiary-color);
}

.hero__profile-section {
  display: flex;
  flex-direction: column;
}
.hero__profile-header {
  text-align: center;
}
.hero__profile-description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 26.66px;
  text-align: center;
  margin: 0 2.5rem 2.9rem;
  margin-top: 16px;
}
.hero__profile-description p {
  color: var(--text-color);
}
.container__topic {
  font-weight: 800;
  font-size: 2.4rem;
  padding-bottom: 1.6rem;
  padding-top: 2.4rem;
}

.hero__clickable {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 29px;
  margin-top: 29px;
}
.hero__clickable--primary,
.button {
  background-color: #3040e5;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  border: none;
  text-align: center;
  height: 40px;
  width: 167px;
  border-radius: 66px;
  display: inline-block;
  line-height: 20.54px;
}
.hero__clickable--secondary {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;
}

#hero__profile-img {
  padding: 9.8rem 0 1.6rem 0;
}
.section-container {
  position: relative;
}
.hero__footer {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 12rem;
  margin-bottom: 2.4rem;
}
.section__img {
  width: 100%;
}
.section_icons {
  display: flex;
  justify-content: space-between;
  margin: 3.6rem 2.3rem;
  height: 29px;
}
.section_description {
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-align: left;
  margin: 2.6rem 2.4rem 3.6rem 2.4rem;
}

.section_description p {
  color: var(--text-color);
}

.section_icons {
  padding-top: 2px;
  padding-bottom: 3px;
}
.button {
  margin-bottom: 12.6rem;
}

.section__heading {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-top: 36px;
  margin-left: 24px;
}

.section__logo {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #ff4a4a;
  text-align: center;
  align-content: center;
}
.section__logo img {
  background: none;
}
h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 41.44px;
  letter-spacing: 0.005em;
  text-align: left;
}
.section__heading--lasttopic {
  margin-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.section__items {
  display: flex;
  flex-direction: column;
}
.section__item {
  padding-bottom: 30px;
}
.section__items h3 {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 41.44px;
  letter-spacing: 0.005em;
  text-align: left;
}
.section__item__img--primary {
  position: relative;
  z-index: 2;
}
.section__item p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 26.66px;
  letter-spacing: 0.005em;
  text-align: left;
  color: var(--text-color);
}
hr {
  margin-bottom: 30px;
  border-top: 1px solid #6f7279;
}
.section__item__img {
  background-color: white;
  border-radius: 70px;
  width: 68px;
  height: 68px;
  align-content: center;
  text-align: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
.section__image {
  position: relative;
}
.section__item__img--secondary {
  position: absolute;
  left: 50px;
  top: 8px;
  height: 50px;
  width: 50px;
}

.footer {
  background-color: var(--tertiary-color);
}
.section__items {
  padding: 0 23px 23px 27px;
}
.button--load {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 43.21px;
  background-color: var(--button-color);
  font-family: "Robot", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.005em;
  text-align: center;
}
.button_container {
  text-align: center;
  margin-bottom: 27px;
}
#studycase-button {
  text-align: center;
}
.section__superscript {
  display: flex;
  gap: 7px;
  width: 160px;
  background-color: var(--button-color);
  border-radius: 32px;
  padding: 8px 14px;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 500;
  position: absolute;
  top: 16px;
  left: 16px;
}
.section__superscript p {
  color: var(--secondary-color);
}
.section__img {
  height: 280px;
  object-fit: cover;
}
.footer__button {
  margin-top: 0;
}

h4 {
  font-weight: 800;
  font-size: 2.4rem;
  line-height: 24px;
  margin-bottom: 16px;
}
footer p {
  font-size: 1.4rem;
  line-height: 26.66px;
  color: rgba(44, 44, 46, 1);
}
.footer__icons {
  display: flex;
  gap: 40px;
}
.footer {
  padding: 26px;
}
.fa-custom-size {
  font-size: 24px;
}
.footer__description {
  display: flex;
  flex-direction: column;
  gap: 36px;
  margin-bottom: 44px;
}
.section_icons--secondary {
  justify-content: center;
  gap: 40px;
}
.footer__text p {
  color: var(--text-color);
}
.hero__profile-description a {
  color: #3040e5;
}

@media (min-width: 1054px) {
  .header__nav-item--hidden {
    display: inline;
  }
  .header__menu {
    display: none;
  }
  .hero__clickable {
    display: flex;
    flex-direction: row;
    gap: 29px;
    justify-content: center;
    margin-top: 56px;
  }
  .header__logo p {
    display: flex;
  }
  #hero__profile-img {
    width: 4.44%;
  }
  .hero__profile-description {
    font-size: 1.6rem;
    line-height: 34.56px;
  }
  .hero__profile-header--secondary {
    font-size: 60px;
    font-weight: 800;
    line-height: 85.61px;
    letter-spacing: 0.06em;
  }
  .hero__profile-header--primary {
    font-size: 24px;
    margin-bottom: 16px;
  }
  #hero__profile-img {
    padding: 7rem 0 1.6rem 0;
  }
  .hero__footer {
    margin-top: 40px;
    margin-bottom: 158px;
  }
  .hero__profile-description {
    width: 50%;
    align-self: center;
  }
  .section__img {
    height: 100%;
    width: 100%;
  }
  h2 {
    font-size: 3.6rem;
    font-weight: 700;
  }
  .section_description {
    font-size: 18px;
    line-height: 34.27px;
    letter-spacing: 0.005em;
  }
  .section_icons {
    width: 54%;
  }
  .section__superscript,
  .section__heading,
  .section_description,
  .section_icons {
    margin-left: 80px;
  }
  #studycase-button {
    text-align: left;
    margin-left: 80px;
  }
  .section_icons {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .section-container {
    padding: 81px 146px;
    background-color: var(--tertiary-color);
    
  }

  .section__superscript {
    margin-top: 141px;
  }

  .section__logo {
    height: 48px;
    width: 48px;
  }
  .section__subsection {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row-reverse;
  }
  .section__subsection--img{
    width: 40%;
  }
  .section__subsection--text{
    width: 60%;
  }
  #logo-small {
    height: 24px;
    width: 24px;
  }
  .section__items-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  hr {
    display: none;
  }
  .section__item {
    width: 30%;
    padding-bottom: 46px;
  }
  .section__items {
    margin-left: 151px;
    margin-right: 146px;
    padding: 0;
  }
  .section__heading--lasttopic {
    margin-bottom: 62px;
  }

  .section__item p {
    font-size: 1.6rem;
    line-height: 30.46px;
  }
  .section__items h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 41.44px;
    letter-spacing: 0.005em;
    margin-top: 14px;
    margin-bottom: 10px;
  }
  .footer__description {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer {
    padding: 39px 151px;
  }
  .footer__text p {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 31.08px;
    letter-spacing: 0.01em;
  }
  h4 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 69.07px;
    letter-spacing: 0.005em;
    margin-bottom: 0;
  }
  .section_icons--secondary {
    justify-content: flex-start;
    gap: 40px;
  }
  .section__superscript {
    position: unset;
  }
  .header {
    padding: 24px 146px;
  }
  .section__items-flex::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #6F7279;
    top: 45%;
    }
}
@media (min-width: 768px) and (max-width: 1054px) {
  .header__nav-item--hidden {
    display: inline;
  }
  .header__menu {
    display: none;
  }
  .hero__clickable {
    display: flex;
    flex-direction: row;
    gap: 29px;
    justify-content: center;
    margin-top: 56px;
  }
  .header__logo p {
    display: flex;
  }
  #hero__profile-img {
    width: 4.44%;
  }
  .hero__profile-description {
    font-size: 1.8rem;
    line-height: 34.56px;
  }
  .hero__profile-header--secondary {
    font-size: 50px;
    font-weight: 800;
    line-height: 85.61px;
    letter-spacing: 0.06em;
  }
  .hero__profile-header--primary {
    font-size: 24px;
    margin-bottom: 16px;
  }
  #hero__profile-img {
    padding: 7rem 0 1.6rem 0;
  }
  .hero__footer {
    margin-top: 40px;
    margin-bottom: 158px;
  }
  .hero__profile-description {
    width: 70%;
    align-self: center;
  }
  .section__img {
    height: 350px;
  }
  .section_icons {
    width: 60%;
  }
  .section_icons--secondary {
    justify-content: flex-start;
  }
  .footer {
    height: 100%;
  }
  .footer__description {
    gap: 0px;
  }
  .section_description p{
    font-size: 1.8rem;
  }
  h2{
    font-size: 3rem;
  }
  .section__subsection--text{
   margin: 30px;
  }
  h4{
    font-size: 2.8rem;
  }
  .section__items h3{
    font-size: 2.2rem;
  }
  .section__item p{
    font-size: 1.8rem;
  }
  .section__items-flex{
    margin: 0 30px;
  }
  
 
}
